{% assign msg = "" %}

<!-- Server Port Checks -->
{% if site.url contains "localhost" and site.port != site.default_port and page.name != "203.html" %} <script>window.location.href = "{{ site.url }}/203?codeid=SCGHSFGAFGAEGREGDSVFHRGFBVDGXCVDFVCTDGFRT646355643235463447367HSDGFHTRGFDV___HDGF-HGF__GFDGFDFG5RGRYTE6RGFT6EYRGF667ERYRTYER74767_6564565464354-_ER&problem=Sorry you ussing {{ site.port }} port, pls change to {{ site.default_port }} normal port&descripition=If you need use the port {{site.port}} you can change in the data/web_configs.yml&can=Problem in Port"</script> {% endif %}
{% if page.name == "203.html" and site.port == site.default_port %} <script>window.location.href = "{{ site.url }}"</script> {% endif %}

<!-- Page its Empity? -->
{% if page.content == null or page.content == "" %} <script> window.location.href = "{{ site.url }}/204"; </script> {% endif %}