<!-- Page its Empity? -->

{% assign msg = "" %}

<!-- Server Port Checks -->
{% if site.url contains "localhost" and site.port != site.data.web_configs.default_port and page.name != "203.html" %} <script>window.location.href = "{{ site.url }}/203?codeid={{ site.data.web_configs.PortSecurityCode }}&problem=The Security Port its {{ site.data.web_configs.default_port }} change to normal port '{{ site.port }}'&descripition=If you need use the port {{site.port}} you can change in the data/web_configs.yml&can=Problem in Port"</script> {% endif %}

<!-- Page its Empity? -->
{% if page.content == null or page.content == "" %} <script> window.location.href = "{{ site.url }}/204"; </script> {% endif %}
